<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of your todos</title>
    <link rel="stylesheet" href="{% static '/css/styles.css' %}" />
  </head>
  <body>
    {% include 'navbar.html' %} {% block context %}

    <div class="container-">
      <h3>Welcine Back "{{request.user.username}}"</h3>
      <a href="{% url 'form' %}"><button>Create a todo</button></a>

      <form action="" method="post">
        {% csrf_token %}
        <ul>
          {% for todo in todos %} {% if todo %} {% if todo.completed == True %}
          <li>
            <input type="checkbox" name="completed" value="clicked" checked /><a
              href="/todositem/{{todo.id}}"
              >{{ todo.todo }}</a
            >
          </li>
          {% else %}
          <li>
            <input type="checkbox" name="completed" value="clicked" /><a
              href="/todositem/{{todo.id}}"
              >{{ todo.todo }}</a
            >
            {% endif %}
          </li>
          {% else %}
          <h1>No todo</h1>
          {% endif %} {% endfor %}
        </ul>

        <button type="submit">save</button>
      </form>

      <a href="{% url 'blog' %}">Visit Blog</a>
    </div>

    {% endblock %}
  </body>
</html>
