:root {
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

  --Very-Light-Gray: hsl(0, 0%, 98%);
  --Very-Light-Grayish-Blue: hsl(236, 33%, 92%);
  --Light-Grayish-Blue: hsl(233, 11%, 84%);
  --Dark-Grayish-Blue: hsl(236, 9%, 61%);
  --Very-Dark-Grayish-Blue: hsl(235, 19%, 35%);

  --Very-Dark-Blue: hsl(235, 21%, 11%);
  --Very-Dark-Desaturated-Blue: hsl(235, 24%, 19%);
  --Light-Grayish-Blue: hsl(234, 39%, 85%);

  /* hover */
  --Light-Grayish-Blue: hsl(236, 33%, 92%);
  /* ------- */

  --very-Dark-Grayish-Blue: hsl(234, 11%, 52%);
  --Very-Dark-Grayish-Blue: hsl(233, 14%, 35%);
  --Very-Dark-Grayish-Blue: hsl(237, 14%, 26%);

  --white: #ffff;
  --black-color: #000000;
  --gray: #e0e0e0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: cursive;
}

.container-parent {
  width: 100vw;
}
/* 
.container-parent .container-parent-padder {
} */

.container-parent .container-parent-padder .top-container-img {
  width: 100%;
}

.container-parent .container-parent-padder .top-container-img img {
  width: 100%;
}

.img-mobile {
  display: none;
}

.container-parent .container-parent-padder .bottom-container-container-items {
  width: 100%;
  padding-bottom: 8%;
}

.completed-todo {
  color: var(--Dark-Grayish-Blue) !important;
  text-decoration: line-through;
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder {
  padding: 10px 20px;
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container {
  width: 460px;
  margin-top: -250px;
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .header {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-between;
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .header
  .container-logo {
  color: var(--white);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .header
  .user-toggle {
  padding-top: 20px;
  color: var(--white);
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .header
  .user-toggle
  button {
  display: flex;
  justify-self: right;
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-add-todos {
  margin-top: 5%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.1);
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-add-todos
  .check-todos {
  width: 8%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  padding-left: 16px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-todos {
  margin-top: 5%;
  background-color: var(--white);
  overflow: hidden;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.1);
  background-color: var(--white);
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-todos
  .container-main-todos {
  border-bottom: 1px solid var(--gray);
  overflow: hidden;
  padding: 10px 25px;
  text-align: left;
  transition: 1s;
  background-color: var(--white);
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-todos
  .container-main-todos:hover {
  background-color: var(--Very-Light-Gray);
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-todos
  .container-main-todos:last-child {
  border-bottom: none;
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-todos
  .container-main-todos
  .container-right {
  /* float: left; */
  width: 80%;
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-todos
  .container-main-todos
  button {
  float: right;
  margin-top: -8%;
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-todos
  .footer-todos-list {
  width: 100%;
  border-top: 1px solid var(--gray);
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-todos
  .footer-todos-list
  .padder-footer {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-todos
  .footer-todos-list
  .padder-footer
  .container-amount,
.clear-completed,
.filter-text {
  font-size: 14px;
  text-align: left;
  color: var(--Dark-Grayish-Blue);
  transition: 1s;
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-todos
  .footer-todos-list
  .padder-footer
  .clear-completed:hover {
  color: var(--Very-Dark-Blue);
  cursor: pointer;
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-todos
  .footer-todos-list
  .padder-footer
  .filter-text
  ul {
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-todos
  .footer-todos-list
  .padder-footer
  .filter-text
  ul
  li {
  list-style: none;
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-todos
  .footer-todos-list
  .padder-footer
  .filter-text
  ul
  li
  a {
  text-decoration: none;
  margin-left: 15px;
  color: var(--Dark-Grayish-Blue);
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-todos
  .footer-todos-list
  .padder-footer
  a {
  text-decoration: none;
  color: var(--Dark-Grayish-Blue);
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-todos
  .footer-todos-list
  .padder-footer
  .filter-text
  ul
  li
  a:hover {
  color: var(--Very-Dark-Blue);
  cursor: pointer;
}

.sm-screen {
  margin-top: 5%;
  width: 100%;
  box-shadow: 0px 0px 30px rgb(0, 0, 0, 0.1);
  background-color: var(--white);
  display: none;
  font-size: 14px;
}

.sm-screen .padder-sm-footer {
  padding: 5px 0px;
  text-align: left;
}

.sm-screen ul li a {
  text-decoration: none;
}

.sm-screen ul {
  display: flex;
  margin-left: -40px;
  justify-content: space-around;
}

.sm-screen ul li {
  list-style: none;
}

.sm-screen ul li a:hover {
  color: var(--Very-Dark-Blue);
  cursor: pointer;
}

.sm-screen ul li a {
  color: var(--Dark-Grayish-Blue);
  cursor: pointer;
}

.container-bonux {
  margin-top: 8%;
  color: var(--Dark-Grayish-Blue);
}

.container-bonux .user {
  font-size: 14px;
  color: var(--Bright-Blue);
}

.container-bonux .user a {
  color: var(--gray);
}

.container-parent
  .container-parent-padder
  .bottom-container-container-items
  .bottom-container-padder
  .box-todos-container
  .container-todos
  .container-main-todos
  .checkbox- {
  float: left;
  margin-right: 15px;
}

.no_todo {
  color: var(--Dark-Grayish-Blue);
  margin-top: 40px;
  margin-bottom: 30px;
}

#todos_state {
  display: none !important;
}

/* .display_block {
  display: block !important;
} */

/* form */

.login {
  height: 100vh;
  padding-top: 6%;
}

.auth-form {
  height: 110vh;
}

.container-form {
  width: 100vw;
  /* background-color: var(--Bright-Blue); */
  background-image: url("../images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
}

.container-form .container-padder {
  padding: 20px;
}

.container-form .container-padder .form {
  width: 400px;
  box-shadow: 0 0 20px hsl(0, 0%, 0%, 0.1);
  border: 1px solid var(--Light-Grayish-Blue);
  border-radius: 8px;
  margin-top: 1%;
  background-color: var(--white);
}

.container-form .container-padder .form .form-padder {
  padding: 10px 40px;
}

.container-form .container-padder .form .form-padder form p {
  margin-bottom: 5%;
  color: var(--Dark-Grayish-Blue);
}

.container-form .container-padder .form .form-padder form p a {
  color: var(--Bright-Blue);
}

.container-form .container-padder .form .form-padder .input-container {
  width: 100%;
  margin-top: 4%;
}

.container-form .container-padder .form .form-padder .input-container label {
  display: block;
  margin-bottom: 1%;
  text-align: left;
}

.container-form .container-padder .form .form-padder .input-container label {
  color: var(--very-Dark-Grayish-Blue);
}

/* ---------------------- */

/* dark-mode */

.dark-mode,
.dark-mode-form {
  background-color: var(--Very-Dark-Blue);
}

.todoList {
  background-color: var(--Very-Dark-Desaturated-Blue) !important;
  color: var(--white) !important;
  border-bottom: 1px solid var(--Very-Dark-Grayish-Blue) !important;
}

.todoListFooter {
  background-color: var(--Very-Dark-Desaturated-Blue) !important;
  color: var(--white) !important;
  border-top: 1px solid var(--Very-Dark-Grayish-Blue) !important;
}

.todoList:hover {
  background-color: var(--Very-Dark-Blue) !important;
}

.todoListFooter {
  background-color: var(--Very-Dark-Desaturated-Blue) !important;
}

.todoListFooter a:hover {
  color: var(--white) !important;
}

/* --------------------- */

/* button */

.btn-transparent,
.btn-delete {
  background: transparent;
  border: none;
  cursor: pointer;
  padding-bottom: 10px;
}

.btn-delete {
  float: right;
  margin-top: -35px;
}

.submit-sign-up {
  width: 100%;
  box-sizing: border-box;
  padding: 13px 15px;
  border: 1px solid var(--gray);
  margin-top: 5%;
  background-color: var(--Bright-Blue);
  color: var(--white);
  border-radius: 4px;
  cursor: pointer;
}

.btn-update-todos {
  display: block;
  text-decoration: none;
  font-size: 13px;
}

.btn-post-todos,
.btn-update-todos {
  padding: 22px 0;
  box-sizing: border-box;
  height: 100%;
  float: left;
  width: 15%;
  cursor: pointer;
  border: none;
  transition: 1s;
  background-color: var(--white);
  color: var(--very-Dark-Grayish-Blue) !important;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: none;
}

.btn-post-todos:hover {
  background-color: var(--Very-Light-Gray);
}

.btn-update-todos:hover {
  background-color: var(--Very-Light-Gray);
}

.btn-post-todos:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn-post-todos:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  float: left;
}

/* ----------- */

/* Input */

/* auth */

.form-input-auth {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  border: 1px solid var(--gray);
  outline: none;
}

.form-input-auth:hover,
.form-input-auth:focus {
  border: 1px solid var(--Bright-Blue);
}

/* --- */

.add-todo {
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: none;
  padding: 20px 10px;
  color: var(--black-color);
  outline: none;
  box-sizing: border-box;
  outline: none;
  font-size: 16px;
}

.add-todo::placeholder {
  font-size: 16px;
}

.add-todo:hover {
  background-color: var(--Very-Light-Gray);
}

.checkbox-wrapper-12 {
  position: relative;
}

.checkbox-wrapper-12 > svg {
  position: absolute;
  top: -130%;
  left: -170%;
  width: 110px;
  pointer-events: none;
}

.checkbox-wrapper-12 * {
  box-sizing: border-box;
}

.checkbox-wrapper-12 input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  margin: 0;
}

.checkbox-wrapper-12 input[type="checkbox"]:focus {
  outline: 0;
}

.checkbox-wrapper-12 .cbx {
  width: 24px;
  height: 24px;
  top: calc(100px - 12px);
  left: calc(100px - 12px);
}

.checkbox-wrapper-12 .cbx input {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 1px solid var(--gray);
  border-radius: 50%;
  transition: 1s;
}

.checkbox-wrapper-12 .cbx input:hover {
  border: 1px solid var(--Bright-Blue);
}

.checkbox-wrapper-12 .cbx label {
  width: 24px;
  height: 24px;
  background: none;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transform: trasnlate3d(0, 0, 0);
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg {
  position: absolute;
  top: 5px;
  left: 4px;
  z-index: 1;
  pointer-events: none;
}

.checkbox-wrapper-12 .cbx svg path {
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 19;
  stroke-dashoffset: 19;
  transition: stroke-dashoffset 0.3s ease;
  transition-delay: 0.2s;
}

.checkbox-wrapper-12 .cbx input:checked + label {
  animation: splash-12 0.6s ease forwards;
}

.checkbox-wrapper-12 .cbx input:checked + label + svg path {
  stroke-dashoffset: 0;
}

@-moz-keyframes splash-12 {
  40% {
    background: #866efb;
    box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb,
      16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb,
      -16px -8px 0 -8px #866efb;
  }

  100% {
    background: hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-webkit-keyframes splash-12 {
  40% {
    background: #866efb;
    box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb,
      16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb,
      -16px -8px 0 -8px #866efb;
  }

  100% {
    background: #866efb;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@-o-keyframes splash-12 {
  40% {
    background: #866efb;
    box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb,
      16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb,
      -16px -8px 0 -8px #866efb;
  }

  100% {
    background: #866efb;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

@keyframes splash-12 {
  40% {
    background: #866efb;
    box-shadow: 0 -18px 0 -8px #866efb, 16px -8px 0 -8px #866efb,
      16px 8px 0 -8px #866efb, 0 18px 0 -8px #866efb, -16px 8px 0 -8px #866efb,
      -16px -8px 0 -8px #866efb;
  }

  100% {
    background: #866efb;
    box-shadow: 0 -36px 0 -10px transparent, 32px -16px 0 -10px transparent,
      32px 16px 0 -10px transparent, 0 36px 0 -10px transparent,
      -32px 16px 0 -10px transparent, -32px -16px 0 -10px transparent;
  }
}

/* ------------ */

@media only screen and (min-width: 690px) {
  .btn-delete {
    display: none;
  }

  .container-parent
    .container-parent-padder
    .bottom-container-container-items
    .bottom-container-padder
    .box-todos-container
    .container-todos
    .container-main-todos:hover
    .btn-delete {
    display: block;
  }
}

@media only screen and (max-width: 689px) {
  .container-parent
    .container-parent-padder
    .bottom-container-container-items
    .bottom-container-padder
    .box-todos-container {
    width: 370px;
    margin-top: -220px;
  }

  .img-desktop {
    display: none;
  }

  .img-mobile {
    display: block;
  }

  .container-parent
    .container-parent-padder
    .bottom-container-container-items
    .bottom-container-padder
    .box-todos-container
    .container-todos
    .footer-todos-list
    .padder-footer
    .filter-text {
    display: none;
  }

  .sm-screen {
    display: block;
    border-radius: 7px;
  }

  /* form */
  .container-form .container-padder .form {
    width: 330px;
    margin-top: 20%;
  }

  /* btn */
  .btn-post-todos,
  .btn-update-todos {
    padding: 22px 5px;
  }
}
